<div class="panel">
    <div class="container">
        <h1 class="titrespanneauxlateraux">
            ELEMENTS DU RESEAU 
        </h1>
        <div id="element_reseau">
            <input type="image" value="Producteur" class="elementreseau" src="applicationweb\producteur.png"/>producteur			
            <input type="image" value="Consommateur" class="elementreseau" src="applicationweb\consommateur.png"/>consommateur
            <input type="image" value="Producteur consommateur" class="elementreseau" src="applicationweb\producteur_consommateur.png"/>producteur consommateur
            <input type="image" value="Stockage" class="elementreseau" src="applicationweb\stockage.png"/> stockage
        </div>
    </div>
</div>