<div class="panel edition">
    <div class="container">
        <h1 class="titrespanneauxlateraux">
            ELEMENTS DU RESEAU
        </h1>
        <div id="elementsReseau">
            <div class="elementReseau">
                <img src="static\producteur.png"/>
                <span>producteur</span>
            </div>
            <div class="elementReseau">
                <img src="static\consommateur.png"/>
                <span>consommateur</span>
            </div>
            <div class="elementReseau">
                <img src="static\prodConso.png"/>
                <span>producteur consommateur</span>
            </div>
            <div class="elementReseau">
                <img src="\static\stockage.png"/>
                <span>stockage</span>
            </div>
        </div>
    </div>
</div>