<div class="panel edition">
    <div class="container">
        <h1 class="titrespanneauxlateraux" draggable="false">
            ELEMENTS DU RESEAU
        </h1>
        <div class="elementsReseau">
            <div class="elementReseau">
                <img src="static\producteur.png" draggable="true" class="build_element" id="producteur"/>
                <span>producteur</span>
            </div>
            <div class="elementReseau">
                <img src="static\consommateur.png" draggable="true" class="build_element" id="consommateur"/>
                <span>consommateur</span>
            </div>
            <div class="elementReseau">
                <img src="static\prodConso.png" draggable="true" class="build_element" id="producteur_consommateur"/>
                <span>producteur consommateur</span>
            </div>
            <div class="elementReseau">
                <img src="\static\stockage.png" draggable="true" class="build_element" id="stockage"/>
                <span>stockage</span>
            </div>
        </div>
    </div>
</div>

