<div class="panel edition">
    <div class="container">
        <h1 class="titrespanneauxlateraux">
            SAISON  
        </h1>
            
        <div id="choixsaison">
            <div class="saison">
                <input type="radio" name="saison" value="ete"  />été <br/>
            </div>   
            <div class = "saison">  
                <input type="radio" name="saison" value="hiver"  />hiver
            </div> 
        </div>
    </div> 
    <div class="container">
        <h1 class="titrespanneauxlateraux">
            ILOTAGE  
        </h1>
            
        <div id = "controlbox">
        <input type="checkbox" /> îlotage
        </div>
        <div id = "controlbox">
        <input type="range" value="heure de debut" id="zoom" min="0" max="24" step="0.5">heure de début <br/>
        <input type="range" value="heure de fin" id="zoom" min="0" max="24" step="0.5"> heure de fin
        <div id = "controlbox">
        <input type="checkbox" /> îlotage permanent 
        </div>
    </div>
</div>