<div class="panel edition">
    <div class="container">
        <h1 class="titrespanneauxlateraux">
            SAISON  
        </h1>
            
        <div id="choixsaison">
            <div class="saison">
                <input type="radio" name="saison" value="ete"  />été
            </div>   
            <div class = "saison">  
                <input type="radio" name="saison" value="hiver"  />hiver
            </div> 
        </div>
    </div> 
    <div class="container">
        <h1 class="titrespanneauxlateraux">
            ILOTAGE  
        </h1>   
        <div id="ilotage" class="option">
            <input type="checkbox" />
            <label>Ilotage</label>
        </div>
        <div id="dureeIlotage" style="display: none">
            <div id="ilotagePermanent" class="option">
                <input type="checkbox" />
                <label>Ilotage permanent</label>
            </div>
            <div id="periodeIlotage" class="option">
                <div id="ilotageDebut">
                    <span>Heure de début</span>
                    <input type="range" min="0" max="24" step="1">
                </div>
                <div id="ilotageFin">
                    <span>Heure de fin</span>
                    <input type="range" min="0" max="24" step="1">
                </div>
            </div>
        </div>
    </div>
</div>