html
{
	height: 100%;
	width: 100%;
	margin: 0;
}

body
{
	height: 100%;
	width: 100%;
	margin: 0;
}


.panneau_gauche
{
	float: left;
	width : 20%;
	height: 100%;
	text-align: center;
	background-color: rgb(40, 104, 168);
	border-radius : 20px;
}

.panneau_central
{
	height: 100%;
	width : 60%;
	margin : auto;
	float :left;
	text-align: center;
	background-color: rgb(124, 196, 252);
}


.panneau_droite
{
	float : left;
	width : 20%;
	height : 100%;
}

.saison, .ilotage 
{
	width : 100%;
	text-align : center;
	
}

#enregistrement 
{
	float: left;
	text-align: left;
}


#simul
{
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(146, 200, 14, 1);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
	position : absolute ; bottom : 3%; right: 3%;
	
}

.bouton_enregistrement
{
	border: 0;
    padding: 0 10px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(146, 200, 14, 1);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}
/* #simul:hover 
{
    background-color: rgba(255, 0, 0, 1);
}
 */
#simul:active ,.bouton_enregistrement:active 
{
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}
