html
{
	height: 100%;
	width: 100%;
	margin: 0;
}

body
{
	display: flex;
	height: 100%;
	width: 100%;
	margin: 0;
}

@font-face{
	font-family: 'Ubuntu';
	src: url('\static\Ubuntu-M.ttf')
}

@font-face{
	font-family: 'Ubuntu Light';
	src: url('\static\Ubuntu-L.ttf')
}

.titrespanneauxlateraux
{
	color: rgb(1, 163, 1);
	font-family: 'Ubuntu', 'Trebuchet MS', Helvetica, sans-serif;
	text-align: center;
	font-size: 24px;
}

#choixsaison
{
	display: flex;
	justify-content: space-around;
}

.saison
{
	display: flex;
	justify-content: flex-start;
}
.container
{
	width : 80%;
	display: flex;
	flex-direction: column;
	margin: 10px auto;
	padding: 10px;
	background-color: rgba(31, 114, 192, 0.4);
	border: 1px rgba(0,94,184,0.7) solid;
	border-radius: 10px;
	color: white;
	font-family: 'Ubuntu Light', 'Trebuchet MS', Helvetica, sans-serif;
}

#controlbox
{
	margin : 5px 0px;
}
.titrecentral
{
    color: rgb(0, 94, 184);
	font-family: 'Ubuntu', 'Trebuchet MS', Helvetica, sans-serif;
	width: 100%;
	text-align: center;
    top:10px;
	font-size: 24px;
}
#enregistrement 
{
	display: flex;
	flex-direction: column;
	text-align: left;
	top : 5px;
	left: 5px;
	width : 25%;
}


#simulate
{
	border: 0;
	padding: 3px 10px;
	bottom: 30px;
	right: 10px;
	width: 25%; 
    font-size: 1rem;
    text-align: center;
    color: #fff;
    border-radius: 5px;
	background-color: rgba(0,94,184, 0.9);
	
}

.bouton_enregistrement 
{
	border: 0;
	padding: 3px 10px;
	margin: 5px 10px;
	width: 100%; 
    font-size: 1rem;
    text-align: center;
    color: #fff;
    border-radius: 7px;
	background-color: rgba(0,94,184, 0.9);
    /*background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);*/
}

#simulate:hover
{
	background-color: rgba(0,94,184, 0.6);
	background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
}

.bouton_enregistrement:hover 
{
	background-color: rgba(0,94,184, 0.6);
	background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
									  rgba(0, 0, 0, 0));
}									  

#element_reseau
{
	display:flex;
	flex-direction:column;
	justify-content:space-around;
	align-items: center;
	margin:5%
}

.elementreseau
{
	height:15%;
	width: 35%;
	
}

#simulate:active ,.bouton_enregistrement:active,.elementreseau:active 
{
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}
