/* Style de la page */
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.area {
    position: relative;
    height: 100%;
    transition-property: width;
    transition-duration: 400ms;
}

.panel {
	display: none;
	width: 100%;
}

.button {
    background-color: #198099;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 5%;
}

.button:hover {
    background-color:#e6e6e6;
}

#centerArea {
	background-color: white;
}

#rightArea, #leftArea {
    background-color: lightgrey;
    color: white;
}

#edition #leftArea {
	width: 20%;
}

#edition #centerArea {
	width: 60%;
}

#edition #rightArea {
	width: 20%;
}

#resultats #leftArea {
	width: 0%;
}

#resultats #centerArea {
	width: 60%;
}

#resultats #rightArea {
	width: 40%;
}

#centerArea .panel {
	position: absolute;
	top: 0;
}

#centerArea .panel > * {
    position: absolute;
}

.panelTitle {
    text-align: center;
    width: 100%;
    margin-top: 2%;
}

#reseauTitle {
    text-align: center;
    width: 100%;
    top: 2%;
}

#reseau {
	width: 100%;
	height: 100%;
}