/* Style de la zone centrale */

#edit {
    left: 5%;
    top: 5%;
    width: 10%;
    height: 5%;
}

#scale {
    left: 5%;
    bottom: 5%;
}

.subTitle {
    display: flex;
    position: relative;
    padding: 1% 5%;
}

.subTitle > span {
    margin: auto;
}

/* AddJauge */

.addJauge {
    background-color: lightseagreen;
}

.addJauge .buttons {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 2%;
}

.addJauge .buttons .container {
    background-color: aquamarine;
    width: 46%;
}

.addJauge .buttons .container {
    padding: 2%;
}

/* Jauge */

div.jauge {
    width: 10%;
}

div.jauge img.jauge {
    width: 100%;
}

div.jauge img.arrow {
    position: absolute;
    width: 13.3%;
    left: 43%;
    top: 10%;
    transform-origin: 50% 85%;
}

/* Style du panneau de droite */

.graph_container {
    position: relative;
    width: 80%;
    height: 29%;
    margin: 2% 10%;
    background-color: lightsalmon;
}

.graph_container > * {
    position: absolute;
}

.graph {
    margin: 2%;
    top: 20%;
    bottom: 0;
    left: 0;
    right: 20%;
    background-color: lightcoral;
}

.time {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 98%;
}

.graph_container > .button {
    width: 10%;
    height: 10%;
    top: 2%;
    text-align: center;
    display: flex;
}

.graph_container > .button > span {
    margin: auto;
}

.exportGraph {
    right: 2%;
}

.addGraph {
    right: 14%
}