<div class="addJauge" style="top: 30%; left: 60%">
    <div class=subTitle><span>Ajout d'une Jauge</span></div>
    <div class="buttons">
    	<div id="P" class="temp">
    		<div id="P" class="button">P</div>
    	</div>
    	<div id="Q" class="temp">
    		<div id="Q" class="button">Q</div>
    	</div>
    	<div id="U" class="temp">
    		<div id="U" class="button">U</div>
    	</div>
        <div id="I" class="temp">
        	<div id="I" class="button">I</div>
        </div>
    </div>
</div>