{% extends "window.html" %}

{% block title %}Paramètres{% endblock %}

{% block content %}
    <div class="parametres" imageid="{{json.imageID}}">
        <div class="valeurs">
            {% for p in parameters %}
            <div id="{{p.id}}">
                <span class="variable">{{p['name']}}</span>
                {% for v in p['values'] %}
                <input id="{{p['id']}}_{{v}}" type="radio" name="{{p['id']}}_{{json['imageID']}}" value="{{v}}"
                    {% if p['id'] in json['data'] and json['data'].get(p['id']) == v %}
                    checked="checked" 
                    {% endif %}
                >
                <label for="{{p['id']}}_{{v}}">{{v}}</label>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}