{% extends "window.html" %}

{% block title %}Ajout d'une Jauge{% endblock %}

{% block content %}
    <div class="selectVariable" busid="{{json.busID}}">
        <div class="buttons">
        	<div id="P" class="button">
        		<span>P</span>
        	</div>
        	<div id="Q" class="button">
        		<span>Q</span>
        	</div>
        	<div id="U" class="button">
        		<span>U</span>
        	</div>
            <div id="I" class="button">
            	<span>I</span>
            </div>
        </div>
    </div>
{% endblock %}