{% extends "base.html" %}
    
{% block head %}
    <title>Page d'accueil</title>
    <script src="{{ url_for('static', filename = 'accueil.js') }}"></script>
{% endblock %}

{% block body %}
    <h1>BIENVENUE</h1>
    <div class="container">
        <!--<div class="charger">
            <input class="bouton_accueil" type="button" value="Charger">
            
        </div>-->
        <img class="logo" src="\static\accueil.png">
        <div class="bas">
            <div class="creer">
                <input class="bouton_accueil" type="button" value="Créer">
            </div>
            <div class="dropdown">
                <button class="dropButton">Charger</button>
                <div class="dropChoices">
                    <div>Cheese</div>
                    <div>Tomatoes</div>
                    <div>Mozzarella</div>
                    <div>Mushrooms</div>
                    <div>Pepperoni</div>
                    <div>Onions</div>
                    <div>Cucumber</div>
                    <div>Jam</div>
                    <div>Potatoe</div>
                    <div>Salad</div>
                </div>
            </div>
            <!--<div class="ouvrir">
                <input class="bouton_accueil" type="button" value="Ouvrir">
            </div>-->
            <div class="tuto">
                <input class="bouton_tuto" type ="button" value="Tutoriel">
            </div>
        </div>
    </div>
{% endblock %}