{% extends "base.html" %}
    
{% block head %}
    <title>Page d'accueil</title>
    <script src="{{ url_for('static', filename = 'accueil.js') }}"></script>
{% endblock %}

{% block body %}
    <h1>BIENVENUE</h1>
    <div class="container">
        <!--<div class="charger">
            <input class="bouton_accueil" type="button" value="Charger">
            
        </div>-->
        <img class="logo" src="\static\accueil.png">
        <div class="bas">
            <div class="creer">
                <input class="bouton_accueil" type="button" value="Créer">
            </div>
            <div class="dropdown">
                <button class="dropButton">Charger</button>
                <div class="dropChoices">
                    <div class="choix scenario" id="largeProd">
                        <img class="logo_bis" src="\static\réseau.PNG">
                        <span class="choix_texte">Beaucoup de producteurs</span>
                    </div>
                    <div class="choix scenario" id="lowProd">
                        <img class="logo_bis" src="\static\réseau.PNG">
                        <span class="choix_texte">Peu de producteurs</span>
                    </div>
                    <div class="choix scenario" id="largeCons">
                        <img class="logo_bis" src="\static\réseau.PNG">
                        <span class="choix_texte">Beaucoup de consommateurs</span>
                    </div>
                    <div class="choix scenario" id="lowCons">
                        <img class="logo_bis" src="\static\réseau.PNG">
                        <span class="choix_texte">Peu de consommateurs</span>
                    </div>
                    <div class="choix" id="personal">
                        <img class="logo_bis" src="\static\stylo.PNG">
                        <span class="choix_texte">Charger un réseau</span>
                    </div>
                    <input id="personalFile" type="file" style="display: none">
                </div>
            </div>
            <!--<div class="ouvrir">
                <input class="bouton_accueil" type="button" value="Ouvrir">
            </div>-->
            <div class="tuto">
                <input class="bouton_tuto" type ="button" value="Tutoriel">
            </div>
        </div>
    </div>
{% endblock %}