{% extends "base.html" %}
    
{% block head %}
    <title>Page d'accueil</title>
    <script src="{{ url_for('static', filename = 'accueil.js') }}"></script>
{% endblock %}

{% block body %}
    <h1>Bienvenue sur l'application _________ !</h1>
    <div class="charger">
        <input class="bouton_accueil" type="button" value="Charger">
        <div class="dropdown">
            <button class="dropButton">Choisir un scénario</button>
            <div class="dropChoices">
                <div>Cheese</div>
                <div>Tomatoes</div>
                <div>Mozzarella</div>
                <div>Mushrooms</div>
                <div>Pepperoni</div>
                <div>Onions</div>
                <div>Cucumber</div>
                <div>Jam</div>
                <div>Potatoe</div>
                <div>Salad</div>
            </div>
        </div>
    </div>
    <div class="bas">
        <div class="créer">
            <input class="bouton_accueil" type="button" value="Créer">
        </div>
        <div class="ouvrir">
            <input class="bouton_accueil" type="button" value="Ouvrir">
        </div> 
    </div>
{% endblock %}