{% extends "base.html" %}

{% block head %}
	<title>Résultats</title>
	<link class="adaptable" href="{{ url_for('static', filename = 'edition.css') }}" type="text/css" rel="stylesheet">
	<link class="adaptable" href="{{ url_for('static', filename = 'resultats.css') }}" type="text/css" rel="stylesheet">
	<script src="{{ url_for('static', filename = 'canvas.js') }}"></script>
	<script src="{{ url_for('static', filename = 'reseau.js') }}"></script>
	<script src="{{ url_for('static', filename = 'chart.js') }}"></script>
	<script src="{{ url_for('static', filename = 'edition.js') }}"></script>
	<script src="{{ url_for('static', filename = 'resultats.js') }}"></script>
	<script src="{{ url_for('static', filename = 'main.js') }}"></script>
{% endblock %}

{% block body %}
	<div class="area" id="leftArea">
	</div>
	<div class="area" id="centerArea">
		<canvas id="grid"></canvas>
	</div>
	<div class="area" id="rightArea">
	</div>
{% endblock %}