<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf" />
        <link rel="stylesheet" href="applicationweb\edition.css" />
        <title>Mode Edition</title>
    </head>
    <body> 
		
		<div class="panneau_gauche">
			<h1>
				Elements du reseau 
			</h1>
			
		</div>
		<div class="panneau_central">
			<h1>
				Visualisation du reseau 
			</h1>
		</div>
		<div class="panneau_droite">
			<div class="saison">
				<h1>
					Saison  
				</h1>
			</div> 
			<div class="ilotage">
				<h1>
					Ilotage  
				</h1>
			</div> 
		</div>
						
    </body>
    
</html>
    