<!doctype html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="../bootstrap-4.0.0-dist/css/bootstrap.min.css">
  <link href="../bootstrap-4.0.0-dist/js/bootstrap.min.js">

  <title>Résultats</title>
  <link rel="stylesheet" href="resultats.css">
</head>

<body>
  <div id="centerArea">
    <div class="areaTitle">Résultats</div>
    <input id="edit" type="button"></button>
    <input id="scale" type="range">
  </div>
  <div id="rightPanel">
    <div class="areaTitle">Courbes</div>
  </div>
</body>

</html>