{% extends "base.html" %}

{% block head %}
  <title>Résultats</title>
  <script src="{{ url_for('static', filename = 'resultats.js') }}"></script>
{% endblock %}

{% block body %}
  <div id="centerArea">
    <div class="areaTitle">Résultats</div>
    <input id="edit" type="button"></button>
    <input id="scale" type="range">
    {% include '_addJauge.html' %}
    {% for jauge in jauges %}
      {% include '_jauge.html' %}
    {% endfor %}
    <canvas id="reseau"></canvas>
  </div>
  <div id="rightPanel">
    <div class="areaTitle">Courbes</div>
      {% for i in range(3) %}
        {% include '_graph.html' %}
      {% endfor %}
  </div>
{% endblock %}